<div class="container">
  <ul class="nav nav-pills nav-styles">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="/documents" routerLinkActive="active">Documents</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Proposals</a>
      <div class="dropdown-menu dropdown-show">
        <a class="dropdown-item" routerLink="/proposals">Proposals</a>
        <a class="nav-link" routerLink="/proposals/new">Add Proposal</a>
      </div>
    </li>
  </ul>

</div>
